<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd

				http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">

    <!-- Process annotations on registered beans like @Autowired... -->
    <context:annotation-config/>

<!--
    <context:property-placeholder location="classpath*:conf/env.properties"/>
    <util:properties id="settings" location="classpath:conf/env.properties"/>
-->



    <context:property-placeholder location="file:../config/env.properties" />
    <util:properties id="settings" location="file:../config/env.properties" />



    <!-- dataSource -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName">
            <value>${jdbc.driver}</value>
        </property>
        <property name="url">
            <value>${jdbc.url}</value>
        </property>
        <property name="username">
            <value>${jdbc.username}</value>
        </property>
        <property name="password">
            <value>${jdbc.password}</value>
        </property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
        <property name="configLocation" value="classpath:conf/mybatis-config.xml"></property>
    </bean>

    <!-- scan for mappers and let them be autowired -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage"
                  value="com.self.java.quiz.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>
    </bean>


    <!-- netty components -->

    <bean id="userHandler" class="com.self.java.quiz.netty.UserHandler">
    </bean>

    <bean id="registerHandler" class="com.self.java.quiz.netty.RegisterHandler">

    </bean>
    <bean id="updateHandler" class="com.self.java.quiz.netty.UpdateHandler"/>

    <bean id="urlHandlerMap" class="java.util.concurrent.ConcurrentHashMap">
        <constructor-arg>
            <map>
                <entry key="/user">
                    <ref bean="userHandler"/>
                </entry>
                <entry key="/register">
                    <ref bean="registerHandler"/>
                </entry>
                <entry key="/update">
                    <ref bean="updateHandler"/>
                </entry>
            </map>
        </constructor-arg>
    </bean>


    <!--  -->
    <bean id="textWebSocketFrameHandler" class="com.self.java.quiz.netty.TextWebSocketFrameHandler">

    </bean>


    <!-- DAOs -->
    <context:component-scan
            base-package="com.self.java.quiz.service, com.self.java.quiz.netty"/>


    <!-- redis连接配置，依次为主机ip，端口，是否使用池，(usePool=true时)redis的池配置 -->
    <bean id="jedisFactory"
          class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
        <property name="hostName" value="${redis.host}"/>
        <property name="port" value="${redis.port}"/>
        <property name="password" value=""/>
        <!-- <property name="usePool" value="true"/> <property name="poolConfig"
            ref="jedisPoolConfig"/> -->
    </bean>

    <!-- redis模板配置 -->
    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="jedisFactory"/>
        <property name="defaultSerializer">
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
    </bean>

    <bean id="redisDao" class="com.self.java.quiz.dao.BaseRedisDao">

    </bean>

    <bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.self.java.quiz.dao.IUserDao"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>


</beans>
