.idea/libraries/Maven__org_apache_commons_commons_lang3_3_3_2.xml
.idea/libraries/Maven__junit_junit_3_8_1.xml
.idea/libraries/Maven__io_netty_netty_all_4_0_33_Final.xml
.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_8_3.xml
.idea/libraries/Maven__com_manniwood_mmpt_2_1_0.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_3_1.xml
.idea/libraries/Maven__com_alibaba_fastjson_1_2_44.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/encodings.xml
.idea/compiler.xml
.idea/artifacts/user_service_jar.xml
target/user-service-0.0.1-SNAPSHOT.jar
target/user-service-0.0.1-SNAPSHOT-executable.jar
target/test-classes/com/jinkegroup/aiedu/quiz/user/WebsocketChatServerInitializer.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/WebsocketChatServer.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/MyX509TrustManager.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpsRequestUtil.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpRequestHandler.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpClientInboundHandler3.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpClientInboundHandler2.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpClientInboundHandler.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpClient3.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpClient3$1.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpClient2.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpClient2$1.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpClient.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/HttpClient$1.class
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-archiver/pom.properties
target/classes/log4j2.xml
target/classes/conf/mybatis-config.xml
target/classes/conf/env.properties
target/classes/conf/applicationContext.xml
target/classes/com/jinkegroup/aiedu/quiz/user/util/StringUtil.class
target/classes/com/jinkegroup/aiedu/quiz/user/util/PkUtil.class
target/classes/com/jinkegroup/aiedu/quiz/user/util/GenericsUtils.class
target/classes/com/jinkegroup/aiedu/quiz/user/util/ErrorCode.class
target/classes/com/jinkegroup/aiedu/quiz/user/socket/TextWebSocketFrameHandler.class
target/classes/com/jinkegroup/aiedu/quiz/user/socket/TextWebSocketFrameHandler$1.class
target/classes/com/jinkegroup/aiedu/quiz/user/service/impl/UserService.class
target/classes/com/jinkegroup/aiedu/quiz/user/service/IUserService.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/UserHandler.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/UpdateUserHandler.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/ServerInitializer.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/ServerHandler.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/ServerChannelInitializer.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/NettyHelper.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/MyX509TrustManager.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/HttpsRequestUtil.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/Handler.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/AuthHandler.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/UserBattleMsg.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/User.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/RivalIsGiveup.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/RivalAnswer.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/ResponseWrapper.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/ResponseData.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/QuestionsAndAnswers.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/PkRequestRespond.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/PkMatched.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/PkInformation.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/PersonalInfo.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/PKRequest.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/MyQuestionSubmit.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/Message.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/GiveupInTheMatchingRespond.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/GiveupInTheMatching.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/GiveupInTheGameRespond.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/GiveupInTheGame.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/GamecodeOverdue.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/GameOverResultRespond.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/GameOverResult.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/EveryQuestion.class
target/classes/com/jinkegroup/aiedu/quiz/user/model/AnswerConfirm.class
target/classes/com/jinkegroup/aiedu/quiz/user/dao/UserMapper.xml
target/classes/com/jinkegroup/aiedu/quiz/user/dao/QuestionMapper.xml
target/classes/com/jinkegroup/aiedu/quiz/user/dao/IUserDao.class
target/classes/com/jinkegroup/aiedu/quiz/user/dao/IQuestionDao.class
.idea/libraries/Maven__org_mybatis_mybatis_3_1_1.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_0.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_0.xml
.idea/libraries/Maven__org_apache_commons_commons_pool2_2_0.xml
target/classes/com/jinkegroup/aiedu/quiz/user/dao/IBaseRedisDao.class
target/classes/com/jinkegroup/aiedu/quiz/user/dao/DBTools.class
target/classes/com/jinkegroup/aiedu/quiz/user/dao/BaseRedisDao.class
target/classes/com/jinkegroup/aiedu/quiz/user/dao/BaseRedisDao$6.class
target/classes/com/jinkegroup/aiedu/quiz/user/dao/BaseRedisDao$5.class
target/classes/com/jinkegroup/aiedu/quiz/user/dao/BaseRedisDao$4.class
target/classes/com/jinkegroup/aiedu/quiz/user/dao/BaseRedisDao$3.class
target/classes/com/jinkegroup/aiedu/quiz/user/dao/BaseRedisDao$2.class
target/classes/com/jinkegroup/aiedu/quiz/user/dao/BaseRedisDao$1.class
target/classes/com/jinkegroup/aiedu/quiz/user/constant/IConstants.class
target/classes/com/jinkegroup/aiedu/quiz/user/UserServer.class
src/test/java/com/jinkegroup/aiedu/quiz/user/MyX509TrustManager.java
src/test/java/com/jinkegroup/aiedu/quiz/user/HttpsRequestUtil.java
META-INF/MANIFEST.MF
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Maven__redis_clients_jedis_2_6_0.xml
.idea/libraries/Maven__postgresql_postgresql_9_1_901_1_jdbc4.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_4_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_1_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_redis_1_4_0_RELEASE.xml
.idea/libraries/Maven__org_slf4j_slf4j_simple_1_7_25.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_5.xml
.idea/libraries/Maven__org_postgresql_postgresql_9_3_1101_jdbc4.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_1_1.xml
target/test-classes/com/jinkegroup/aiedu/quiz/user/AppTest.class
target/test-classes/com/jinkegroup/aiedu/quiz/user/AppTest$1.class
target/classes/com/jinkegroup/aiedu/quiz/user/util/ThreadManager.class
target/classes/com/jinkegroup/aiedu/quiz/user/util/ThreadManager$ThreadPool.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/HttpsRequestUtil$Callback.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/AuthHandler$1.class
target/classes/com/jinkegroup/aiedu/quiz/user/netty/AuthHandler$1$1.class
target/classes/com/jinkegroup/aiedu/quiz/user/util/HttpsRequestUtil.class
target/classes/com/jinkegroup/aiedu/quiz/user/util/HttpsRequestUtil$Callback.class
